<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/home.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokemon</title>
</head>
<body>
    <div class="content">
        <h1>Pokemon</h1>
        <%- include('partials/nav-bar.ejs')%>
        <br>

        <img src="/images/pokemon.jpg" alt="Ash With Pokemon" width="50%">
        <p>Get a random pokemon and learn about them, or find a pokemon on your own! <br>
            You can also look up different items!</p>

    </div>
    
</body>
</html>