<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/pokemonSearch.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokemon Search</title>
</head>
<body>
    <h1>Pokémon</h1>
        <%- include('partials/nav-bar.ejs')%>
       <br>

       <form action="/getPokemon" method="GET">
        <label for="pokemonInput">Enter Pokémon Name or ID:</label>
        <input type="text" id="pokemonInput" name="pokemonInput" placeholder="ex: Pikachu or 25" ><br><br>
        <button type="submit">Get Pokémon</button>
    </form>
    
</body>
</html>